.container_general {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1600px;
  background: rgba(255, 255, 255, 1);
}

.container_title {
  width: 330px;
  height: 200px;
}

.container_title h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
  text-align: center;
  margin-top: 40px;
}

.container_title p {
    width: 271px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight:bold;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-align: center;
    color: rgba(115, 115, 115, 1);
    margin: 0 auto;

}

.container_icon {
  height: 100px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(183, 227, 252);
  border-radius: 15px; 
}

.container_icon h4 {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(37, 43, 66, 1);
  margin-left: 10px;
}

.container_card {
  width: 325px;
  height: 400px;
  border-radius: 15px;
  background: rgb(250, 247, 247);
  margin-top: 20px;
  margin-bottom: 40px;
  position: relative; 
}

.container_card li {
  font-size: 1.3rem;
  font-style: normal;
  line-height: 22px;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(115, 115, 115, 1);
  list-style: none;
  margin-top: 15px;
}

.container_card ul {
  padding-right: 40px;
  
}

@media only screen and (min-width:700px) and (max-width: 900px){
  .responsive_container{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    
  }
  .container_general{
    height: 1215px;
  }
  
}

@media only screen and (min-width:800px) and (max-width: 1093px){
  .responsive_container{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    
  }
  .container_general{
    height: 1040px;
  }
  .container_card{
    margin: 20px;
  }

}

@media only screen and (min-width:1093px) and (max-width:1500px){
  .responsive_container{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    
  }
  
  .container_general{
    height: 700px;
  }
}
