.footer_container {
  display:flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 800px;
  background: rgba(255, 255, 255, 1);
}

.footer_container h2 {
  width: 160px;
  font-family: 'Montserrat', sans-serif;
  font-family: Montserrat;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(37, 43, 66, 1);

}

.footer_container p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(115, 115, 115, 1);
}

.footer_container li {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(115, 115, 115, 1);
  list-style: none;
  margin:10px;

}

.footer_container ul {
  padding: 0px;
}

.container_icons{
  display:flex;
 justify-content: space-evenly;
  
}