.container_form {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 328px;
    height: 800px;
    border-radius: 10px;
    border:none;
    padding: 30px;
    background-color:rgba(255, 255, 255, 1);
    margin-top: 30px;
    box-shadow: 3px 5px 17px 2px rgba(0,0,0,0.82);
    opacity: 0.8;
}

.container_form h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1px;
    text-align: center;
    color: #333333;
    background: #FFFFFF;
    text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
}

.container_form label {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-align: left;
    color: rgba(37, 43, 66, 1);  
}

.button_confirm {
    width: 248px;
    height: 48px;
    border-radius: 5px;
    border:none;
    padding: 15px, 40px, 15px, 40px;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
    text-align: center;
    background: rgba(35, 166, 240, 1);
    color: rgba(255, 255, 255, 1);
    margin: 30px auto; 
    box-shadow: 3px 5px 17px 2px rgba(0,0,0,0.92);
    cursor: pointer;    
}

.container_form input{
    height: 35px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
    outline: none;
         
}
.container_form select {
    height: 35px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
    outline: none;
}

