.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 414px;
  height: 532px;
  background: #f7f7f7;
}

.logo {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-left: 35px;
}

.listado {
  margin: 164px 0 0 0;
  padding: 0;
}
.list {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 1.9rem;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.2px;
  font-family: "Montserrat", sans-serif;
  color: #737373;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
}

.icons {
  display: flex;
  color: #737373;
  margin-right: 38px;
  align-items: center;
}

.svg {
  margin-right: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
