.container_plans{
    width: 414px;
    height: auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container_title {
    
    border-radius: 0px;
    margin: 0 auto;
}