.container_plans{
    width: 100%;
    height: 1150px;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background: rgba(250, 250, 250, 1);   
}

.container_plans h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-align: center;
    color: rgba(37, 43, 66, 1);

}

.container_plans p {
    width: 271px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight:bold;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-align: center;
    color: rgba(115, 115, 115, 1);
    margin-bottom: 24px;
 
}
.subcontainer{
    width: 330px;
    height: 900px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    border: 1px solid rgba(35, 166, 240, 1);
    padding: 0 25px 0 25px;
    margin-bottom: 50px;

}

.subcontainer h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-align: center;
    color: rgba(37, 43, 66, 1);
    margin-top: 40px;

}
.subcontainer h5 {
    width: 165px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-align: center;
    color: rgba(115, 115, 115, 1);

}
.container_price {
    position: relative;
    width: 100px;
    display:flex;
    align-items: center;
}

.container_price h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: rgba(35, 166, 240, 1);

}
.container_price .price {
    width: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: rgba(35, 166, 240, 1);
    position: absolute;
    top:15px;
    left:28px;
    
}
.container_price .amount {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight:lighter;
    letter-spacing: 0.1px;
    color: rgba(35, 166, 240, 1);
    margin-top: 50px;
}

.container_details{
  display:flex;
  flex-direction: column;
  align-items: center; 
}

.item {
    display:flex;
    
    
}
.item p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: left;
    padding-left: 10px;
    color: rgba(37, 43, 66, 1);

}
.button_plans{
    width: 246px;
    height: 52px;
    border-radius: 5px;
    border: none;
    padding: 15px, 40px, 15px, 40px;
    background: rgb(65, 178, 244);
    color: rgba(255, 255, 255, 1);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 3px 3px 8px 2px rgba(0,0,0,0.80);
    cursor: pointer;
}


@media only screen and (min-width:767px) and (max-width: 1500px){
    
  }

