.container_confirm {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 20px 20px 20px;   
}

.container_confirm h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    color: #333333;
    text-shadow: 2px 2px 0px #FFFFFF, 4px 4px 0px rgba(0,0,0,0.15);
    margin: 50px auto 50px auto;
}

.container_info_details{
    display:flex;
    flex-direction: row;
    border: 3px solid rgb(158, 212, 244);
    justify-content: space-around;
    padding:10px;
    
}

.container_info_details ul {
    list-style: none;
}

.container_info_details li{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-style: normal;
    letter-spacing: 2px;
    text-align: left;
    color: #7b7b7b;
    margin:10px;

}
.container_info_details .list_right{
    padding-right: 40px;
}

.container_confirm button {
    width: 220px;
    height: 45px;
    border-radius: 5px;
    border: none;
    padding: 15px, 40px, 15px, 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgb(65, 178, 244);
    color: rgba(255, 255, 255, 1);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 2px;
    text-align: center;
    cursor: pointer;
    box-shadow: 3px 5px 17px 2px rgba(0,0,0,0.80);
}




